.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px; /* Add border-radius value */
  background: linear-gradient(120deg, #0d142fb7 0%, #0d2040 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  margin: 10px auto; /* Center the container */
}

.image {
  margin-bottom: 10px; /* Reduced margin for smaller spacing */
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.title {
  font-size: 20px; /* Smaller font size for the title */
  font-weight: 700;
  margin-bottom: 6px; /* Fixed space between title and description */
}

.description {
  font-size: 16px; /* Smaller font size for description */
  margin-bottom: 6px; /* Fixed space between description and skills */
}

.skills {
  width: 100%;
  margin-top: 6px; /* Fixed space between description and skills */
  margin-bottom: 6px; /* Fixed space between skills and git button */
  display: flex;
  flex-wrap: wrap;
  gap: 3px; /* Reduced gap between skills */
  list-style: none;
}

.skill {
  font-size: 14px; /* Smaller font size for skills */
  font-weight: 400;
  border-radius: 5px;
  background: var(--color-dark);
  padding: 2px 10px;
}

.gitLinkButton {
  display: inline-block;
  padding: 8px 16px; /* Reduced padding for smaller button */
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Smaller font size for button */
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: rgb(44, 44, 142);
  color: white;
  cursor: pointer;
}

.gitLinkButton:hover {
  background-color: var(--color-primary-dark);
}

.gitLinkButton:focus {
  outline: none;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 12px 16px; /* Adjust padding for smaller screens */
    max-width: 100%; /* Full width for smaller screens */
    box-shadow: none; /* Remove shadow for a cleaner look */
  }

  .title {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .description {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .skills {
    gap: 2px; /* Further reduce gap between skills */
  }

  .skill {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .gitLinkButton {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 6px 12px; /* Adjust padding for smaller screens */
  }
}
