@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 20px;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: rgb(54, 54, 156);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-left: 5%;
    margin-right: 5%;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 36px; /* Scale down font size */
    margin-top: 10px; /* Adjust margin top */
  }

  .description {
    font-size: 18px; /* Scale down font size */
    margin-bottom: 30px; /* Adjust margin bottom */
  }

  .contactBtn {
    font-size: 20px; /* Scale down font size */
    padding: 10px 20px; /* Adjust padding */
  }

  .topBlur, .bottomBlur {
    width: 80vw; /* Scale width for better fit on mobile */
    height: 40vw; /* Scale height for better fit on mobile */
    min-width: 200px; /* Adjust minimum width */
  }

  .topBlur {
    top: -60px; /* Adjust top position */
    left: -5vw; /* Adjust left position */
  }

  .bottomBlur {
    top: 200px; /* Adjust top position */
    right: -15vw; /* Adjust right position */
  }
}
